@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
.fadeOut {
  animation: fadeOut 2.5s forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#chat_page {
    background-image: url("/wtsap_bg.png");
    background-blend-mode: overlay;
}